{
  "extends": "@deseteral/eslint-config/typescript",
  "rules": {
    "max-len": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/media-has-caption": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
